{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Payment
{% endblock %}

{% block content %}
<h2>Buy for $50.00</h2>
<form action="{% url 'billboard_payment' %}" method="post">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ pk_test_ul3Z09vYiPxlC2mmh3APfpk700rekRwCtv }}"
            data-description="Billboard Charge"
            data-amount="500"
            data-locale="auto"></script>
  </form>
{% endblock %}